* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --background: rgba(239, 247, 248, 1);
  --font: #000000;
  --efect: white;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

@media screen and (max-width: 1429px) {
  .card {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .card {
    width: 250px;
  }
}
@media screen and (max-width: 830px) {
  .card {
    width: 350px;
    margin: 20px;
  }
  .nav li a {
    font-size: 16px;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  main {
    margin: 0 auto;
    margin-right: 0;
  }
  
  #pills-tab li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.formulario{
  margin: 80px 120px 80px;
}
.formulario button{
  Width:204px;
  Height:56px;
  margin-top: 28px;
  border-radius: 100px;
  Padding:20px 60px 20px 60px;
  background-color: rgba(63, 109, 111, 1);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #FFFFFF;


}
.form-row{
  margin-bottom: 28px;
  background: #FFFFFF;
border: 1px solid #8795AF;
box-sizing: border-box;
border-radius: 12px;
}
.formulario h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #3F6D6F;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}.formulario small{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 136% */


/* Primary/Verde Escuro */

color: #3F6D6F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 4px 0px;
}
@media screen and (max-width: 576px) {
  blockquote {
    display: none;
  }
  .filter {
    min-width: 350px;
    bottom: -25px;
  }
  .navbar {
    position: relative;
    background: var(--background);
  }
  .title2 {
    gap: 20px;
  }
}


@media screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
  }
  .col-md-4 {
    width: 250px;
    margin: 0 50%;
  }
}
